html,
body {margin:0; height: 100%; font-family: Microsoft Yahei; }
/* markdown style */
.markdown {font-family: Microsoft Yahei;}
.markdown code { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; line-height: 1.4;border-radius: 4px;}
.markdown pre code {font-size: 14px; white-space: pre-wrap;  }
.markdown blockquote {border-left: 5px solid #eee; padding-left: 35px; margin-left: 0; }
.markdown table {border-collapse: collapse; }
.markdown td, th {padding:0.2em 0.5em; }
.markdown th {text-align: left; border-bottom: 2px solid #eee; }
/*.hljs.hljs { overflow: visible; display: table; min-width: 100%; }*/
/* layout */
.wrapper { height: 100%; display:flex; align-items: stretch; }
.wrapper > :nth-child(1) { width:500px; flex-grow:0; flex-shrink: 0; }
.wrapper > :nth-child(2) {flex-grow: 1; overflow: auto;}
.wrapper > :nth-child(3) {flex-shrink: 1; overflow: auto;}

#toolbar {position: fixed; bottom:0; right:18px;}
select { border-radius: 0; border:1px solid #ddd; background-color: #fcfcfc;}
select:focus {outline:none; border-color:#aaa; }

#md {visibility: hidden;}

#html { padding:10px 40px; box-sizing:border-box; resize:horizontal;  }
textarea {font-family: inherit; font-size: inherit; padding:20px; border:none; border-right: 1px solid #eee;  resize:horizontal; background-color:#fcfcfc; }
textarea:focus {outline:none; border-right-color:#ddd;}
.scrollbar::-webkit-scrollbar{width:8px;  }
.scrollbar::-webkit-scrollbar-track{  background-color:#FCFCFC;  }
.scrollbar::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.06);border-style:solid;  border-color:#FCFCFC; border-width: 0 0 0 4px;}
/*.scrollbar::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,0.1)}*/
.scrollbar::-webkit-scrollbar-thumb{  background-color:rgba(0,0,0,.1); border-style:solid; border-color:#FCFCFC; border-width: 0 0 0 4px; }
.scrollbar::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.3);  }
.scrollbar::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.6)}

#catelog {display: none;}
.catelog {  position: fixed; top: 4px; right: 18px; border: 1px solid #EEEEEE; background-color: #FCFCFC; border-radius: 2px; max-height: 90%; max-width: 20em;  overflow:auto; min-width: 20px; min-height: 20px; }
.catelog ol { padding:1em; margin:0; list-style:none; }
.catelog li { list-style:none; font-size: 12px; margin-top:4px; }
.catelog a { text-decoration: none; color: #444; line-height: 1; }
.catelog a:hover { color: #3079ED; }
.catelog .h1 { font-size: 14px; font-weight: bold; }
.catelog .h2 { margin-left: 1em; font-size: 14px; }
.catelog .h3 { margin-left: 2em; }
.catelog .h4 { margin-left: 3em; }
.catelog .h5 { margin-left: 4em; }
.catelog .h6 { margin-left: 5em; }
#catelog-handler { position: absolute; top:0;right:0; cursor: pointer; width: 20px; line-height: 20px; height: 20px; text-align: center; }
